*{
  padding: 0em;
  margin: 0em;
  font-size: 20px;
}

body{
  background-color: rgb(255, 255, 255);

}
footer{
  background-color: rgb(225, 225, 225);
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
}

p{
  margin-top: 1em;
  text-indent: 4em;
}


h1{
  font-size: 2.5em;
  text-align: center;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 128, 0);

}

h2{
    font-size: 1.8em;
    padding-top: 0.5em;
    text-indent: 1em;
    color: rgb(34, 139, 34);
}

h3{
    font-size: 1.5em;
    text-indent: 2em;
    color: #4CAF50;
}

h4{
    font-size: 1.0em;
    text-indent: 4em;
    color: rgb(85, 107, 143);

}

ul{
  margin-top: 0.2em;
}

li{
    list-style-type: disc;
    padding-top: 0.2em;
    margin-left: 6em;
}

li code{
  background-color: rgb(143, 188, 143);
}

section{
  margin-top: 1em;
}

article{
margin: 1em;
}

img{
  margin-left: 3em;
  max-width:100%;
  height:auto;
}

.table-padrao{
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 4em;
  border-collapse: collapse;
  width: 90%;
}

.table-padrao td, .table-padrao th{
  border: 1px;
  padding: 0.3em;

}

.table-padrao tr:nth-child(even){
  background-color: rgb(245, 245, 245);
}

.table-padrao th {
    background-color: #4CAF50;
    color: white;

}


.flex-container {
  display: flex;
  justify-content: space-between;
}
